[submodule "ants/libsvm"]
	path = ants/libsvm
	url = https://github.com/cjlin1/libsvm
[submodule "ants/nanovg"]
	path = ants/nanovg
	url = https://github.com/memononen/nanovg
[submodule "ants/Chipmunk2D"]
	path = ants/Chipmunk2D
	url = https://github.com/slembcke/Chipmunk2D
